<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>预测分详情</title>
    <meta name="keywords" content="E听说,科大讯飞,易听说,英文口语,英语听说,99abc">
    <meta name="description" content="讯飞E听说是由科大讯飞（股票代码：002230）旗下企业广州讯飞易听说网络科技有限公司设计研发，产品版本囊括：广东高考、广州中考、深圳中考、沈阳中考、青岛中考、威海中考等，能有效帮助考生快速提升英语听说考试成绩。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <script src="js/flexible.js"></script>
    <script src="js/polyfill.js"></script>
    <link rel="stylesheet" type="text/css" href="css/preStyle.css">
    <link rel="stylesheet" type="text/css" href="css/prescore-detail.css">
    <link rel="stylesheet" type="text/css" href="css/learning-figure-detail.css">
    <link rel="stylesheet" type="text/css" href="css/growth.css">
</head>

<body>
    <div class="full-con" id="growthCon">
        <div class='all-bar scrolling'>
            <div class='time-status-bar'></div>
            <div class='head-operate-container scroll'>
                <div class='opera-icon'></div>
                <div class="out-on-off scroll-top">
                    成长轨迹
                </div>
                <img src="images/detail-help-2.png" class='opera-icon' id="helpIcon">
            </div>
        </div>
        <div class="growth-tab">
            <div class="item">预测分</div>
            <div class="item">学情图谱</div>
            <div class='tabs-active-bar'></div>
        </div>
        <div class="full-con">
            <div id="app1" class='scroll-container'>
                <!-- 正在加载中 -->
                <div class='loading' v-if="isShowLoading">
                    <div class='content'>
                        <img src="images/loading.gif">
                        <div class='text'> 玩命加载中...</div>
                    </div>
                </div>
                <!-- 请求失败 -->
                <div id='loading-fail-1' class='loading hidePreScore'>
                    <div class='content'>
                        <img src="images/loading-fail.png">
                        <div class='text'>点击重新加载</div>
                        <div class='tip'>呜哇~哇~信号飞走了~</div>
                    </div>
                </div>
                <!-- 预测分分数进程图 -->
                <div class='prescore-process-wrap'>
                    <div class='prescore-process-container'>
                        <canvas id='process-canvas' width='660' height='660'></canvas>
                        <div class='small-div' v-if="scores">
                            <div class='score'>
                                {{scores.total_score}}
                            </div>
                            <div class='total-score'>总分：{{scores.total_point}}分</div>
                        </div>
                        <div class='small-div' v-else>
                            <span class='no-prescore total-score'>
                                <p>你的练习太少</p>
                                <p>还无法预测</p>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 成长轨迹 -->
                <div class='grow-conatiner'>
                    <!-- 成长轨迹无数据 -->
                    <div>
                        <div class='title'>成长轨迹</div>
                        <div class='no-data-growing' v-if='!scores'>
                            <div class='tip-container'>
                                <div class='tip'>你还没有预测分</div>
                                <!-- <a href='#'>
                                    <div class='help'>如何预测</div>
                                </a> -->
                            </div>
                        </div>
                        <div id='growing-container' v-else></div>
                    </div>
                </div>
                <!-- tab 班级跟省市 -->
                <div class='tabs-container none'>
                    <div class='tab clearfix'>
                        <div class='tabs-active-bar' :style='tabBarStyle'></div>
                        <div class='title' data-index='0' v-on:click='tabAddress' :class='tabIndex == 0 ? "active" : ""'>
                            <span class='text' data-index='0'>班级</span>
                        </div>
                        <div class='title' data-index='1' v-on:click='tabAddress' :class='tabIndex == 1 ? "active" : ""'>
                            <span class='text' data-index='1'>{{tabRes}}</span>
                        </div>
                    </div>
                    <div class='content' :class='contentChart != 0 ? "hidden" : ""'>
                        <div class='body clearfix' v-if='class_id !=-1'>
                            <div class='title'>
                                <div class='ranking'>{{highestScore}}<span class='unit'>分</span></div>
                                <div class='top'>全班最高分</div>
                            </div>
                            <div class='title'>
                                <div class='ranking'>{{selfRank}}<span class='unit'>名</span></div>
                                <div class='top'>全班排名</div>
                            </div>
                        </div>
                        <!-- 班级排名无数据 -->
                        <div class='no-data-growing no-data-ranking' v-if='class_id==-1'>
                            <div class='tip-container'>
                                <div class='tip'>你还未加入班级</div>
                                <div class='add-class' @click='addClass'>
                                    加入班级
                                </div>
                            </div>
                        </div>
                        <div class='no-data-growing' v-else-if='!scores && class_id !== -1'>
                            <div class='tip-container'>
                                <div class='tip'>还没有你的排名信息</div>
                                <!-- <a href='#'> -->
                                    <div class='help' @click='goDetailHelp'>如何进入排名？</div>
                                <!-- </a> -->
                            </div>
                        </div>
                        <div v-else>
                            <div class='echart-title'>班级排名轨迹</div>
                            <div id='growing-container1'></div>
                        </div>
                    </div>
                    <div class='content' :class='contentChart != 1 ? "hidden" : ""'>
                        <div class='body clearfix'>
                            <div class='title'>
                                <div class='ranking'>{{highestResScore}}<span class='unit'>分</span></div>
                                <div class='top'>全{{tabResAdd}}最高分</div>
                            </div>
                            <div class='title'>
                                <div class='ranking'>{{selfRank}}<span class='unit'>名</span></div>
                                <div class='top'>全{{tabResAdd}}排名</div>
                            </div>
                        </div>
                        <div v-if='isShowResRank'>
                            <div class='echart-title'>{{distributionName}}排名轨迹</div>
                            <div id='growing-container-demo'></div>
                        </div>
                        <!-- 省市排名无数据 -->
                        <div class='no-data-growing' v-else>
                            <div class='tip-container'>
                                <div class='tip'>还没有你的排名信息</div>
                                <!-- <a href='#'> -->
                                    <div class='help' @click='goDetailHelp'>如何进入排名？</div>
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 班级预测分分布 -->
                <div class='spread-container none'>
                    <div class='title none'>{{distributionName}}预测分分布</div>
                    <div id='spread-sccore-container none'></div>
                    <div class='data-explain'>
                        <div class='generate-time'>生成时间{{latePdate}}</div>
                        <div>以上数据来自E听说大数据平台</div>
                    </div>
                </div>
                
            </div>
            <div id="app2" class='scroll-container'>
                <div class='loading' v-if="isShowLoading">
                    <div class='content'>
                        <img src="images/loading.gif">
                        <div class='text'> 玩命加载中...</div>
                    </div>
                </div>
                <!-- 请求失败 -->
                <div id='loading-fail-2' class='loading hidePreScore'>
                    <div class='content'>
                        <img src="images/loading-fail.png">
                        <div class='text'>点击重新加载</div>
                        <div class='tip'>呜哇~哇~信号飞走了~</div>
                    </div>
                </div>
                <div class="radar-con">
                    <canvas id="radar-chart" width="660" height="660"></canvas>
                    <div class="not-radar" v-if="isNotRadarData">
                        <div class="text">
                            <p>你练习太少</p>
                            <p>还无法预测</p>
                        </div>
                    </div>
                </div>
                <div class="margin-top-grey"></div>
                <div class='tab' :class="{'hidden':growingLineHidden}">
                    <div class='tabs-active-bar' :style='tabBarStyle'></div>
                    <div class='item' data-index='0' :class='tabIndex == 0 ? "active" : ""' v-if="vacants[0]" @click.stop.prevent='tabAddress'>听</div>
                    <div class='item' data-index='1' :class='tabIndex == 1 ? "active" : ""' v-if="vacants[1]" @click.stop.prevent='tabAddress'>说</div>
                    <div class='item' data-index='2' :class='tabIndex == 2 ? "active" : ""' v-if="vacants[2]" @click.stop.prevent='tabAddress'>读</div>
                    <div class='item' data-index='3' :class='tabIndex == 3 ? "active" : ""' v-if="vacants[3]" @click.stop.prevent='tabAddress'>写</div>
                    <div class='item' data-index='4' :class='tabIndex == 4 ? "active" : ""' v-if="vacants[4]" @click.stop.prevent='tabAddress'>看</div>
                </div>
                <div class="content tag-desc-content">
                    <div class="tag-desc tab-tag-desc" v-if="tabLabelText">{{tabLabelText}}</div>
                </div>
                <div class='content'>
                    <div v-if='vacants[tabIndex]'>
                        <div class='no-data-growing' v-if='score[tabIndex]'>你练习太少，还没有成长轨迹</div>
                        <!-- 成长轨迹图表 -->
                        <div class='growing-line' :class="{'hidden':score[tabIndex]!=''}">
                            <!-- <div class='growing-line' :class="{'hidden':growingLineHidden}" v-else> -->
                            <div class='echart-title'>{{title}}能力成长轨迹</div>
                            <div class='growing-container1'></div>
                        </div>
                        <!-- 能力标签得分率 -->
                        <div class='ability-container'>
                            <div class='title'>
                                <span class='name'>{{title}}能力标签得分率</span>
                                <!-- <span class='line'></span> -->
                                <!-- <img src="images/detail-help.png" class='detail-help' @click='goHelp'> -->
                                <span class="detail-help-a" @click='goHelp'>什么是能力标签</span>
                            </div>
                            <div class='ability-items'>
                                <div class='item-container' v-if="isOpenTag(item)" v-for='(item, index) in data.tags' :id="item.id">
                                    <div :class="{'hidden':growingLineHidden}">
                                        <div class='item' @click.stop.prevent="goNextTag($event,item, true)">
                                            <canvas class="small-canvas" :class='"canvas"+index' width='220' height='220'></canvas>
                                            <div class='text'>
                                                {{getItemScore(item)}}<span class='unit'>%</span>
                                            </div>
                                        </div>
                                    <div class='note' @click.stop.prevent="goNextTag($event,item, true)">{{item.name | subStr}}<span v-if="item.child" class="note-arrow"></span></div>
                                    </div>
                                    <div class="child-tag-contain" v-if="item.child && item.id==nowParentTagId[0]" :id="item.id">
                                        <child-tag :tag="item" :gettitle="getTagLevelTitle" :isopentag="isOpenTag" canvas="canvas" :getitemscore="getItemScore" :substrname="subStrName" :gonexttag="goNextTag" :titlearr="titleArr" :tabindex="tabIndex" :showdemo="showDemo" :showchilddom="showChildDom"></child-tag>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 暂无开通该功能 -->
                    <div class='vacant-container' v-else>
                        <img src="images/no-learning-detail.png" class='img'>
                        <div class='text'>暂时还没有开通{{title}}的内容</div>
                        <div class='text'>努力开发中，敬请期待</div>
                    </div>
                </div>
                <!-- <div class="child-tag-contain" v-if="nowChildTag.child">
                    <child-tag :tag="nowChildTag" :gettitle="getTagLevelTitle" :isopentag="isOpenTag" canvas="canvas" :getitemscore="getItemScore" :substrname="subStrName" :gonexttag="goNextTag" :showchilddom="showChildDom"></child-tag>
                </div> -->
                <div class="mask hidden" v-show="tagDemoText" @click="hideDemo"></div>
                <div class="tag-demo-con hidden" v-show="tagDemoText">
                    <div class="demo-title">示例</div>
                    <div class="demo-content">{{tagDemoText}}</div>
                    <div class="demo-close-icon" @click="hideDemo"></div>
                </div>
            </div>
        </div>
    </div>
    <audio src="https://wscdn.xfxst.com/CEM8Y8YG/yytcloud/word/lw/1/accustom.mp3" controls></audio>
</body>
<script type="text/javascript" src='https://unpkg.com/vconsole/dist/vconsole.min.js'></script>
<script type="text/javascript" src='js/jquery.min.js'></script>
<script src="js/vue.min.js"></script>
<script type="text/javascript" src='js/echarts.min.js'></script>
<script type="text/javascript" src='js/default.js'></script>
<script type="text/javascript" src='js/growth.js'></script>

</html>