<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>阅读理解</title>
    <script src="js/flexible.js"></script>
    <script src="js/polyfill.js"></script>
    <link rel="stylesheet" href="css/rw-style.css">
</head>

<body>
    <div id="dxApp" class="container hidden">
        <div v-if="question.id&&deepReloaded">
            <!-- 选择题 -->
            <div v-if="question.type==4">
                <div class="single-choose" :data-id="question.id">
                    <div class="title" v-html="formatInfoContent(info.content)"></div>
                    <div class="choose-con" :class="{'disabled': answerPage}">
                        <div class="choose-item box-shadow" :class="{'right':c.option==standerAns&&answerPage, 'wrong':c.option==userAns&&userAns!=standerAns&&answerPage}" v-for="(c, ind) in info.choose" :data-index="ind" :data-option="c.option">
                            <div class="choose-icon"></div>
                            <div class="choose-text" v-html="formatInfoContent(c.option+'.'+c.value)"></div>
                        </div>
                    </div>
                </div>
                <div class="single-choose-answer answer-con" v-if="answerPage">
                    <div class="answer">
                        <p class="title" :class="standerAnswer == 0 ? 'right-color' : standerAnswer == 1 ? 'wrong-color' : 'unfinished-color'">{{standerAnswer == 0 ? "回答正确" : standerAnswer == 1 ? "回答错误" : "未作答"}}</p>
                        <p v-html="'正确答案:'+info.answer"></p>
                    </div>
                    <div class="analysis" v-if="info.analysis">
                        <p class="title">分析</p>
                        <p>{{info.analysis}}</p>
                    </div>
                    <div class="translation" v-if="info.translate">
                        <p class="title">翻译</p>
                        <p>{{info.translate}}</p>
                    </div>
                    <div class="sites" v-if="info.tag.length>0">
                        <p class="title">考点</p>
                        <p>{{getInfoTag(info.tag)}}</p>
                    </div>
                </div>
            </div>
            <!-- 其他 -->
            <div v-else class="article">
                <div class="fillblank" v-html="formatQuestionContent(question.content)"></div>
                <!-- Start 新题型任务型阅读-->
                <div class='fillblank new' v-if='question.type==9 || question.type==10' v-for='(item,index) in question.info' :data-index="index">
                    <!-- 题目内容 -->
                    <div class='question'>
                        <!-- <div class="float-left"><span class='number'>{{index+questionIndex}}</span>.</div> -->
                        <div v-html='formatInfoContent(item.content,item.order,index)'></div>
                    </div>
                    <!-- 用户输入题型 -->
                    <div class='import' v-if='isImport(item.content, item.order, index) && item.sub_question_info.length>0' v-for='(i_subItem,i_subIdx) in item.sub_question_info'>
                        <div class="number" v-if='!typeNineAnalysis && !typeTenAnalysis'></div>
                        <div class='input-answer import-answer' v-if='typeNineAnalysis || typeTenAnalysis' :data-order="i_subItem.order"></div>
                        <textarea class='input-answer' v-else placeholder="请输入答案" maxlength="500" :data-order="i_subItem.order"></textarea>

                        <div v-if='question.type==10 && typeTenAnalysis && item.type !==1 && item.type !==2 && item.type !==8 && item.type !==3 && item.sub_question_info.length > 1'>
                            <div class="single-choose-answer answer-con" v-for='(subItem,subIdx) in question.info[index].sub_question_info' v-if="i_subIdx == subIdx">
                               <!--  <div v-if="item.type==3">
                                    <div class="tit">第{{subIdx+1}}小题</div>
                                    <div class="answer">
                                        <p class="title" :class="tenScoreArr[index][subIdx] == 0 ? 'right-color' : tenScoreArr[index][subIdx] == 1 ? 'wrong-color' : 'unfinished-color'">{{tenScoreArr[index][subIdx] == 0 ? "回答正确" : tenScoreArr[index][subIdx] == 1 ? "回答错误" : tenScoreArr[index][subIdx] == 2 ? "未作答" : ""}}</p>
                                        <p v-html="'正确答案:'+subItem.answer"></p>
                                    </div>
                                    <div class="analysis" v-if="subItem.analysis">
                                        <p class="title">分析</p>
                                        <p>{{subItem.analysis}}</p>
                                    </div>
                                    <div class="translation" v-if="subItem.translate">
                                        <p class="title">翻译</p>
                                        <p>{{subItem.translate}}</p>
                                    </div>
                                    <div class="sites" v-if="subItem.tag.length>0">
                                        <p class="title">考点</p>
                                        <p>{{getInfoTag(subItem.tag)}}</p>
                                    </div>
                                </div> -->
                                <div v-if="item.type==4 || item.type==5 || item.type==6 ||item.type==7 || item.type==9">
                                    <p class="title" :class="tenScoreArr[index][subIdx] == 0 ? 'right-color' : tenScoreArr[index][subIdx] == 1 ? 'wrong-color' : 'unfinished-color'">{{tenScoreArr[index][subIdx] == 0 ? "回答正确" : tenScoreArr[index][subIdx] == 1 ? "回答错误" : tenScoreArr[index][subIdx] == 2 ? "未作答" : ""}}</p>
                                    <p class='right-answer'>正确答案:
                                        <div v-for='(standItem,standIdx) in slashToArr(subItem.answer)'>
                                            <div v-if='noShowAll[index]'>
                                                <p v-if='standIdx<3'><span>·  </span><span v-html="formatToHtml(standItem)"></span></p>
                                            </div>
                                            <div v-else>
                                                <p><span>· </span><span v-html="formatToHtml(standItem)"></span></p>
                                            </div>
                                        </div>
                                    </p>
                                    <!-- 折叠文字 -->
                                    <div v-if='slashToArr(subItem.answer).length>3'>
                                        <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-if='noShowAll[index]'>
                                            <span v-if='noShowAll[index]'>查看所有答案</span>
                                            <img src="images/down-look.png" class='bandoneon-img not-change-style'>
                                        </div>
                                        <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-else>
                                            <span>收起所有答案</span>
                                            <img src="images/up-hide.png" class='bandoneon-img not-change-style'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 阅读回答单套题么有 sub_question_info-->
                    <div class='import' v-if='isImport(item.content, item.order, index) && (!item.sub_question_info||item.sub_question_info.length == 0)'>
                        <div class="number" v-if='!typeNineAnalysis && !typeTenAnalysis'></div>
                        <div class='input-answer import-answer' v-if='typeNineAnalysis || typeTenAnalysis' :data-order="item.order"></div>
                        <textarea class='input-answer float-left' v-else placeholder="请输入答案" maxlength="500" :data-order="item.order"></textarea>                        
                    </div>
                    <!-- 答案解析 -->
                    <div class="type-nine" v-if='typeNineAnalysis'>
                        <p class="title" :class="newStanderAnswer[index] == 0 ? 'right-color' : newStanderAnswer[index] == 1 ? 'wrong-color' : newStanderAnswer[index]== 2 ?'unfinished-color':'half-color' ">{{newStanderAnswer[index] == 0 ? "回答正确" : newStanderAnswer[index] == 1 ? "回答错误" : newStanderAnswer[index] == 2 ? "未作答" : "部分正确"}}</p>
                        <p class='right-answer'>正确答案:
                            <!-- <template > -->
                            <div v-for='(standItem,subIdx) in standerAnswers[index]'>
                                <div v-if='noShowAll[index]'>
                                    <p v-if='subIdx<3'><span>·  </span><span v-html="formatToHtml(standItem)"></span></p>
                                </div>
                                <div v-else>
                                    <p><span>· </span><span v-html="formatToHtml(standItem)"></span></p>
                                </div>
                            </div>
                        </p>
                        <!-- 折叠文字 -->
                        <div v-if='standerAnswers[index].length>3'>
                            <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-if='noShowAll[index]'>
                                <span v-if='noShowAll[index]'>查看所有答案</span>
                                <img src="images/down-look.png" class='bandoneon-img not-change-style'>
                            </div>
                            <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-else>
                                <span>收起所有答案</span>
                                <img src="images/up-hide.png" class='bandoneon-img not-change-style'>
                            </div>
                        </div>
                    </div>
                    <!-- Start type10 任务型阅读答案解析 -->
                    <div v-if='question.type==10 && typeTenAnalysis && item.type !==1 && item.type !==2 && item.type !==8 && item.type !==3 && item.sub_question_info.length == 1'>
                        <div class="single-choose-answer answer-con" v-for='(subItem,subIdx) in question.info[index].sub_question_info'>
                            <div v-if="item.type==4 || item.type==5 || item.type==6 ||item.type==7 || item.type==9">
                                <p class="title" :class="tenScoreArr[index][subIdx] == 0 ? 'right-color' : tenScoreArr[index][subIdx] == 1 ? 'wrong-color' : tenScoreArr[index][subIdx] == 2 ? 'unfinished-color' : 'half-color'">{{tenScoreArr[index][subIdx] == 0 ? "回答正确" : tenScoreArr[index][subIdx] == 1 ? "回答错误" : tenScoreArr[index][subIdx] == 2 ? "未作答" : "部分正确"}}</p>
                                <p class='right-answer'>正确答案:
                                    <div v-for='(standItem,standIdx) in slashToArr(subItem.answer)'>
                                        <div v-if='noShowAll[index]'>
                                            <p v-if='standIdx<3'><span>·  </span><span v-html="formatToHtml(standItem)"></span></p>
                                        </div>
                                        <div v-else>
                                            <p><span>· </span><span v-html="formatToHtml(standItem)"></span></p>
                                        </div>
                                    </div>
                                </p>
                                <!-- 折叠文字 -->
                                <div v-if='slashToArr(subItem.answer).length>3'>
                                    <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-if='noShowAll[index]'>
                                        <span v-if='noShowAll[index]'>查看所有答案</span>
                                        <img src="images/down-look.png" class='bandoneon-img not-change-style'>
                                    </div>
                                    <div class='bandoneon' v-on:click='bandoneon(event)' :data-index='index' v-else>
                                        <span>收起所有答案</span>
                                        <img src="images/up-hide.png" class='bandoneon-img not-change-style'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End type10 任务型阅读答案解析 -->
                </div>
                <!-- End 新题型任务型阅读-->

                <!-- Start type 1~4的题型 -->
                <div class="fillblank" v-if="showInfoContent" v-html="formatInfoContent(info.content, info.order)"></div>
                <!-- End type 1~4的题型 -->
                
                <div class="single-choose-answer answer-con" v-if="answerPage">
                    <div class="answer">
                        <p class="title" :class="standerAnswer == 0 ? 'right-color' : standerAnswer == 1 ? 'wrong-color' : standerAnswer == 2 ? 'unfinished-color' : 'half-color'">{{standerAnswer == 0 ? "回答正确" : standerAnswer == 1 ? "回答错误" : standerAnswer == 2 ? "未作答" : "部分正确"}}</p>
                        <p v-html="'正确答案:'+info.answer"></p>
                    </div>
                    <div class="analysis" v-if="info.analysis">
                        <p class="title">分析</p>
                        <p>{{info.analysis}}</p>
                    </div>
                    <div class="translation" v-if="info.translate">
                        <p class="title">翻译</p>
                        <p>{{info.translate}}</p>
                    </div>
                    <div class="sites" v-if="info.tag.length>0">
                        <p class="title">考点</p>
                        <p>{{getInfoTag(info.tag)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript" src='js/jquery.flexText.js'></script>
<script src='js/fn.js'></script> 
<script src="js/vue.min.js"></script>
<script src="js/StrFormat.js"></script>
<script src="js/rw-common.js"></script>
<script src="js/rwData.js"></script>
<script src="js/rw-index-2.js"></script>

</html>