::-webkit-scrollbar{width:0;height:0}
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;  
}
.score_great{color:#3ad56f}
.score_bad{color:#f86767}
.score_normal{color:#000000}
html,body{
	width: 100%;
	height: 100%;
	background-color:transparent;
	-webkit-overflow-scrolling: touch;
}
li{
	list-style: none;
}
.bold{
	font-weight: bold;
}
.mt20{margin-top: 0.625rem;}
.clear:after{
	content: '';
	width: 0;
	height: 0;
	display: block;;
	clear: both;
}
.pic_li{
	float: left;
	margin-right: 0.28125rem;
}
.test_con{
	margin: 0.3125rem;
	padding: 0.3125rem;
	border-radius: 0.15625rem;
}
.test_title{
	height: 0.78125rem;
	overflow: hidden;
	margin: 0.75rem 0;
	font-size: 0.529412rem;
	position: relative;
	padding-right: 0.9375rem;
	line-height: 0.78125rem;
}
.t_title{
	overflow: hidden;
	position: relative;
	line-height: 0.78125rem;
	margin: 0.75rem 0;
	font-size: 0.529412rem;
}
.title{
    padding-bottom:0.46875rem;
	word-wrap: break-word;
	font-size:0.529412rem;
	line-height: 0.78125rem;}
.description{
	font-size:0.529412rem;
	line-height: 0.78125rem;
}
.question{
	margin-top: 0.78125rem;
	font-size:0.529412rem;
	line-height: 0.78125rem;
}
.question_retelling{
	background-color:  #d9fde3;
}
.question p {
	text-indent: 0.75rem;
	word-break:break-word;
}
.listening{text-decoration: underline;}
.reading{
	text-decoration: underline;
	background-color: lightgrey;
}
.readed{
	color: lightgrey;
}
.question_on{
	background-color: #e0ffcc;
}
.show_m{
	background: url(../images/slidedown_icon.png) no-repeat center;
	background-size: 0.3125rem;
	position: absolute;
	right: 0;
	bottom:0;
	width: 0.9375rem;
	height: 0.9375rem;
	cursor: pointer;
}
.hide_m{
	background: url(../images/slideup_icon.png) no-repeat center;
	background-size: 0.3125rem;
	position: absolute;
	right: 0;
	top:0;
	width: 0.9375rem;
	height: 0.9375rem;
	cursor: pointer;
}
.show-big-img{
	position: relative;
	cursor: pointer;
}
.show-big-img-tip{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 2.117647rem;
	height: 0.705882rem;
	line-height: 0.764706rem;
	font-size: 0.352941rem;
	text-indent: 0.176471rem;
	background-color: #000;
	color: #fff;
	background: url(../images/show-big-img-tip.png) no-repeat center;
	background-size: contain;
	text-align: center;
}
/*凡哥之前的一些样式*/
.mark{
	color: #F61010;
	font-weight: bold;
}
.italic{  
	font-style:italic;  
}
.colorred{  
	font-weight: bold;
	color:red;  
}
.colorgreen{  
	font-weight: bold;
	color:green;  
}
.colorblue{  
	font-weight: bold;
	color:blue;  
}
.coloryellow{  
	font-weight: bold;
	color:yellow;  
}
.colorgold{  
	font-weight: bold;
	color:gold;  
}
.colorblack{  
	font-weight: bold;
	color:black;  
}
.leftclass{
	text-align:left;display:inline-block;width:100%;text-indent:0;
}
.rightclass{
	text-align:right;display:inline-block;width:100%;text-indent:0;
}
.centerclass{
	text-align:center;display:inline-block;width:100%;text-indent:0;
}
.redline{
	display: inline-block;
	position: relative;
}
.redline:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
	width: 100%;
	height: 3px;
	background: red;
}
.namestyle{
	color: #979797;
	/* font-style: italic; */
}