.test_con{
	padding: 0;
}
.choose2_text{
    padding-left: 0.9375rem;
}
.question-repeat .record_icon{
	width: 0.72rem;
	height: 0.53rem;
	background-size: contain;
}
.error.choose1_input{
	background-image: url(../images/error1.png);
}
.errorB.choose1{
	border: 0.125rem solid #f86666;
    background-color: #f86666;
}
.right.choose1_input{
	background-image: url(../images/right1.png);
}
.rightB.choose1{
    border: 0.125rem solid #43cb75;
    background-color: #43cb75;
}
.choose1_input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.25rem;
    height: 0.65625rem;
    text-align: center;
    line-height: 0.75rem;
    background-image: url(../images/choose1_n.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-indent: 0.15625rem;
}
.question1_title.error{
	color: #e65151;
}
.audio_con{
    margin-bottom: 0.53rem;
}
.content_choose{
    position: relative;
}
.border_b_div:after{
    content: '';
    display: block;
    width: 100%;
    width: calc(100% - 1.2rem);
    width: -ms-calc(100% - 1.2rem);
    width: -moz-calc(100% - 1.2rem);
    width: -o-calc(100% - 1.2rem);
    width: -webkit-calc(100% - 1.2rem);
    height: 0.03125rem;
    background-color: #e6e6e6;
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.namestyle{
    color: #979797;
    /* font-style: italic; */
}